<%= javascript_pack_tag 'search' %>

<div class="container col-md-8 offset-md-2 mb-4">
  <div class="search mt-4 mb-4 text-center">
    <%= select(nil, :post_id, Post.all.collect {|mt| [ mt.title, mt.slug ] }, {:include_blank => 'Selecione sobre o que quer saber'}, id: 'dropdown', onchange: 'redirect_to_record()') %>
  </div>

  <div class="posts">
    <% @posts.each do |post| %>
      <div class="post mt-4">
        <%= image_tag post.banner_photo %>

        <div class="pt-1 page-header text-center">
          <%= post.title %>
        </div>

        <div class="post-body ps-2 pe-2">
          <%= post.content.to_plain_text.truncate(150) %>
        </div>

        <div class="see_more">
          <%= link_to 'Ver Mais', post_path(post), class: 'btn btn-danger me-3' %>
        </div>
      </div>
    <% end %>
  </div>

  <%= paginate @posts %>
</div>

<script>
  function redirect_to_record() {
    var post_index = document.getElementById("dropdown").value;
    window.location.href = "/posts/" + post_index;
  }
</script>