<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Rails Blog - Lucas Fernandes' %>

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag asset_path('/icons/favicon.ico') %>
  </head>

  <body>
    <%= javascript_pack_tag 'turbolinks_audio_stop' %>
    
    <div class="row application_row">
      <div class="col-md-3">
        <%= render 'shared/lateral_menu' %>
      </div>

      <div class="col-md-9">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
